.cart_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: rgb(243, 243, 247);
}

.smile {
  font-size: 100px;
}
