.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  background: rgb(243, 243, 247);
}

.active > .cart_block {
  transform: translateX(0px);
}

.active > .overlay {
  opacity: 1;
  inset: 0px;
}

.cart_product_list {
  padding: 10px;
  overflow-y: auto;
  max-height: 80%;
}
.overlay {
  opacity: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.64);
  transition: opacity 300ms ease-out 0s;
}
.cart_block {
  display: flex;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  max-width: 430px;
  width: 90%;
  background-color: transparent;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
  transform: translateX(430px);
}

.cart_title {
  margin-bottom: 20px;
  text-align: center;
}
