.cart_info {
  margin-top: auto;
  margin-bottom: 20px;
  /* box-shadow: rgba(6, 5, 50, 0.15) 0px 4px 22px -6px; */
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(6, 5, 50, 0.15) 0px 4px 11px 2px;
}

.title {
  font-size: 1.1rem;
}

.value {
  font-size: 1.1rem;
  font-weight: 600;
}

.bottom_btn {
  display: flex;
  gap: 0 15px;
  margin-top: 20px;
}

.btn_buy {
  width: 100%;
  max-width: 200px;
  background-color: rgb(255 189 69);
  padding: 5px 20px;
  border-radius: 4px;
  font-size: 1.2rem;
}

.btn_outline {
  width: 100%;
  max-width: 200px;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 4px;
  font-size: 1.2rem;
  border: 1px solid grey;
}
