.header {
  padding: 20px 0;
}

.logo {
  object-fit: cover;
}

.logo_title {
  font-size: 1.6rem;
  font-weight: 600;
}

.cart_btn {
  padding: 10px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
}

.top_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_nav > * {
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  gap: 0 5px;
  overflow-x: auto;
}

.nav_list_item {
  padding: 10px 0;
}

.row {
  font-weight: 600;
  font-size: 1.1em;
}

.bottom_btn {
  display: flex;
}

.cart_badge {
  background-color: orange;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  top: 0;
  right: 0;
  padding: 2px;
}
